.orderInfo{
    color: #742aa5;
    text-align: center;
    margin-top: 100px ;
}
.orderTable{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 2px solid lightgrey;
    background-color: white;
    padding: 5px;
}
.Table{
    background-color: #868686;
    color:white;
}