.MangeProduct{
    display: flex;
}

.booksContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.ProductTable{
    display: flex;
    font-size: large;
    font-weight: 600;
    color: white;
    padding-top: 8px;
    background-color: grey;
}